<extend name="./layout/main"/>
<block name="content">
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<a href="#relative" data-toggle="modal" class="btn btn-primary">添加导航菜单</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<table class="table table-bordered j-datatables">
				<thead>
					<tr>
						<th>id</th>
						<th>名字</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>扫码送礼</td>
						<td>1212</td>
						<td>
							<span class="glyphicon glyphicon-remove"></span>
							<span class="glyphicon glyphicon-edit"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="modal fade" id="relative" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                	<h4 class="modal-title m-b">编辑菜单</h4>
				</div>
				<div class="modal-body">
					<form action="" method="post">
						<div class="row">
							<div class="col-lg-9">
								<div class="input-group">
						            <span class="input-group-addon">名字</span>
						            <input class="form-control" placeholder="菜单名" type="text" v-model="data.name">
						        </div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-lg-9">
								<div class="input-group">
						            <span class="input-group-addon">类型</span>
						            <span class="form-control" style="font-size:12px;font-weight: 400;">
							            <label>导航菜单:<input name="level" type="radio" value="1" v-model="data.type"/></label>&nbsp;
							            <label>链接跳转:<input name="level" type="radio" value="2" v-model="data.type"/></label>&nbsp;
							            <label>功能绑定:<input name="level" type="radio" value="3" v-model="data.type"/></label>
						            </span>
						        </div>
							</div>
						</div>
				        <br>
				        <div class="row">
							<div class="col-lg-9">
						        <div class="input-group" v-if="data.type==2">
						        	<span class="input-group-addon">跳转链接</span>
						        	<input class="form-control" type="text" v-model="data.url"/>
						        </div>
					        </div>
				        </div>
				        <div class="row">
							<div class="col-lg-9">
						        <div class="input-group" v-if="data.type==3">
						        	<span class="input-group-addon">素材</span>
						        	<select class="form-control" v-model="data.material" options="material_option">
						        	</select>
						        </div>
					        </div>
				        </div>
					</form>
				</div>
				<div class="modal-footer">
					<div id="relative_page"></div>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="relative_colse">关闭</button>
					<button type="button" class="btn btn-primary" id="relative_commit" v-on="click:commit()">确定</button>
				</div>
			</div>
		</div>
	</div>

</block>

<block name="script">
<script src="/Public/libs/vue/vue.js"></script>
<script>
	var modal = new Vue({
		el   : "#relative",
		data : {
			data : {
				name : '',
				type : '',
				url  : '',
				material : ''
			},
			material_option : [{text:'aaa',value:111},{text:'bbb',value:222}],
		},
		methods : {
			commit : function(){
				if(this.data.name.length==0){
					return false;
				}
				if(this.data.type==2 && this.data.url.length==0){
					return false;
				}
				if(this.data.type==3 && this.data.material.length==0){
					return false
				}
				$.post("Menu/add",this.data,function(rel){
					
				});
				$("#relative").modal('hide');
			}
		},
	});
</script>
</block>