<extend name="./layout/main"/>
<block name="content">

<div id="content">	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<a href="#relative" data-toggle="modal" class="btn btn-primary" v-on="click:clear()">添加导航菜单</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<table class="table table-bordered j-datatables table-condensed">
				<thead>
					<tr>
						<th>名字</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<template v-repeat="li in list">
						<tr class="warning">
							<td>{{li.name}}</td>
							<td>{{li.created_at|}}</td>
							<td>
								<button type="button" class="btn btn-default btn-xs " v-on="click:sort(li)">
									<span class="glyphicon glyphicon-arrow-up"></span>
								</button>
								<button type="button" class="btn btn-default btn-xs" v-on="click:edit(li)">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
								<button type="button" class="btn btn-default btn-xs" v-on="click:addChild(li.id)">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
								<button type="button" class="btn btn-default btn-xs" v-on="click:remove(li)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</td>
						</tr>
						<template v-repeat="child in li.child">
							<tr>
								<td>{{child.name}}</td>
								<td>{{child.created_at|}}</td>
								<td>
									<button type="button" class="btn btn-default btn-xs " v-on="click:sort(child)">
										<span class="glyphicon glyphicon-arrow-up"></span>
									</button>
									<button type="button" class="btn btn-default btn-xs" v-on="click:edit(child)">
										<span class="glyphicon glyphicon-edit"></span>
									</button>
									<button type="button" class="btn btn-default btn-xs" v-on="click:remove(child)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</template>
					</template>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="modal fade" id="relative" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                	<h4 class="modal-title m-b">编辑菜单</h4>
				</div>
				<div class="modal-body">
					<form action="" method="post">
						<div class="row">
							<div class="col-lg-9">
								<div class="input-group">
						            <span class="input-group-addon">名字</span>
						            <input class="form-control" placeholder="菜单名" type="text" v-model="data.name">
						        </div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-lg-9">
								<div class="input-group">
						            <span class="input-group-addon">类型</span>
						            <span class="form-control" style="font-size:12px;font-weight: 400;">
							            <label>导航菜单:<input name="level" type="radio" value="click" v-model="data.type"/></label>&nbsp;
							            <label>链接跳转:<input name="level" type="radio" value="view" v-model="data.type"/></label>&nbsp;
							            <label>图文消息:<input name="level" type="radio" value="media_id" v-model="data.type"/></label>
						            </span>
						        </div>
							</div>
						</div>
				        <br>
				        <div class="row">
							<div class="col-lg-9">
						        <div class="input-group" v-if="data.type=='view'">
						        	<span class="input-group-addon">跳转链接</span>
						        	<input class="form-control" type="text" v-model="data.url"/>
						        </div>
					        </div>
				        </div>
				        <div class="row">
							<div class="col-lg-9">
						        <div class="input-group" v-if="data.type=='media_id'">
						        	<span class="input-group-addon">素材</span>
						        	<select class="form-control" v-model="data.material" options="material_option">
						        	</select>
						        </div>
					        </div>
				        </div>
					</form>
				</div>
				<div class="modal-footer">
					<div id="relative_page"></div>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="relative_colse">关闭</button>
					<button type="button" class="btn btn-primary" id="relative_commit" v-on="click:commit()">确定</button>
				</div>
			</div>
		</div>
	</div>
</div>
</block>

<block name="script">
<script src="/Public/libs/vue/vue.js"></script>
<script>
	var list = {$list|json_encode};
	var modal = new Vue({
		el   : "#content",
		data : {
			list : list,
			data : {
				name : '',
				type : '',
				url  : '',
				material : ''
			},
			edit_data : {},
			material_option : [{text:'aaa',value:111},{text:'bbb',value:222}],
		},
		methods : {
			commit : function(){
				/*modal.list.forEach(function(item){
					modal.$log(item);
					if(item.id == modal.data.pid){
						item.child.push({
							name : modal.data.name,
							pid  : modal.data.pid,
							type : modal.data.type,
							url  : modal.data.url,
							material : modal.data.material,
						});
					}
				})
				return ;*/
				if(this.data.name.length==0){
					return false;
				}
				if(this.data.type=="view" && this.data.url.length==0){
					return false;
				}
				if(this.data.type=="media_id" && this.data.material.length==0){
					return false
				}
				$.post("Menu/edit",this.data,function(rel){
					if(rel.status==1){
						if(typeof modal.data.id != 'undefined'){
							modal.edit_data.name = modal.data.name;
						}else{
							modal.list.forEach(function(item){
								if(item.id == modal.data.pid){
									item.child.push({
										id	 : rel.data,
										name : modal.data.name,
										pid  : modal.data.pid,
										type : modal.data.type,
										value : function(type){
											return type=='view' ? modal.data.url : modal.data.material
										}(modal.data.type),
									});
								}
							})
						}
					}else{
						alert(rel.message);
					}
			    });
				$("#relative").modal('hide');
			},
			
			edit : function( item ){
				$('#relative').modal()
				this.menu_data(item);
			},
			
			addChild : function(pid){
				this.clear();
				$('#relative').modal()
				modal.data.pid = pid;
			},
			
			remove : function( item ){
			},
			
			sort : function( item ){
			},
			
			menu_data : function(item){
				modal.edit_data = item;
				modal.data = {
					id   : item.id,
					pid  : item.pid,
					name : item.name,
					type : item.type,
					url  : item.type=='view' ? item.value : '',
					material : item.type=='material' ? item.value : '',
				};
			},
			clear : function(){
				this.data = {
					name : '',
					type : '',
					url  : '',
					material : ''
				};
			},
		},
	});
	
	
</script>
</block>