<include file="header"/>


<div class="registerBox">
    <div class="hd">
        <h1>有餐</h1>
    </div>
    <form class="form-horizontal j-validator" action="add" method="post">
        <div class="form-group">
            <input type="text" name="name" value="{$data['name']}" placeholder="账户名" class="form-control" data-bv-notempty data-bv-notempty-message="帐号名不能为空!">
        </div>
        <div class="form-group">
            <input type="text" name="shopName" value="{$data['shopName']}" placeholder="店铺名" class="form-control" data-bv-notempty data-bv-notempty-message="店铺名不能为空!">
        </div>
        <div class="form-group">
            <input type="text" name="tel" value="{$data['tel']}" placeholder="手机号" class="form-control" data-bv-notempty data-bv-notempty-message="手机号不能为空!">
        </div>
        <div class="form-group">
            <input type="password" name="password" value="{$data['password']}" placeholder="密码" class="form-control" data-bv-notempty data-bv-notempty-message="密码不能为空!" data-bv-identical="true" data-bv-identical-field="rePassword" data-bv-identical-message="两次密码不一致!">
        </div>
        <div class="form-group">
            <input type="password" name="rePassword" value="{$data['rePassword']}" placeholder="重复密码" class="form-control" data-bv-notempty data-bv-notempty-message="密码不能为空!" data-bv-identical="true" data-bv-identical-field="password" data-bv-identical-message="两次密码不一致!">
        </div>
        <button type="submit" class="btn btn-success btn-block">立即注册</button>
    </form>
</div>

<include file="footer"/>