
<script src="/Public/libs/jquery/jquery-2.1.1.min.js"></script>
<script src="/Public/libs/bootstrap/js/bootstrap.min.js"></script>

<!-- plugins -->
<link rel="stylesheet" href="/Public/libs/plugins/bootstrapvalidator-master/dist/css/bootstrapValidator.min.css"/>
<script src="/Public/libs/plugins/bootstrapvalidator-master/dist/js/bootstrapValidator.min.js"></script>

<link rel="stylesheet" href="/Public/libs/plugins/toastr/toastr.min.css"/>
<script src="/Public/libs/plugins/toastr/toastr.min.js"></script>

<link rel="stylesheet" href="/Public/libs/plugins/datatables/css/dataTables.bootstrap.css"/>
<script src="/Public/libs/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/Public/libs/plugins/datatables/js/dataTables.bootstrap.js"></script>


<link rel="stylesheet" href="/Public/libs/plugins/bootstrap-datatimepicker/css/bootstrap-datetimepicker.min.css"/>
<script src="/Public/libs/plugins/bootstrap-datatimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script charset="UTF-8" src="/Public/libs/plugins/bootstrap-datatimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>


<!-- 公共组件 -->
<script src="/Public/js/common.js"></script>

<!-- 公共组件测试 -->
<script src="/Public/js/test.js"></script>

<script src="/Public/libs/bootstrap/js/bootstrap-switch.min.js"></script>

<!--  -->
<script src="/Public/js/app.js"></script>

<!--<script src="/Public/js/dataTables.js"></script>-->

<script>
    $(function(){
        $("input[type=checkbox]").bootstrapSwitch();

        $(".switch").on('switchChange.bootstrapSwitch', function (e, data) {
            var status = $(this).children().children().children("input").bootstrapSwitch("state");
            var id = $(this).data('id');
            status = status == true ? 1 : 0;
            $.ajax({
                'type':'post',
                'url':'/admin/index/setShopStatus',
                'data':{'status':status,'id':id},
                "success":function(msg){
                    if (msg.status == 1){
//                        alert('修改成功');
                    }
                }
            });
        });
    })
</script>



</body>
</html>