<include file="header"/>
<div class="panel panel-primary">
    <div class="panel-heading">商家列表</div>
    <div class="panel-body">
        <a href="{:U('add')}" class="btn btn-success" data-id="1">添加</a>
    </div>
    <table class="table table-hover j-dataTables ">
        <thead>
        <tr>
            <th>商家ID</th>
            <th>店铺名称</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.shop_name}</td>
                <td>

                    <div class="switch" data-id="{$vo.id}">
                        <input id="switch-{$vo.id}" type="checkbox" <if condition="$vo.status == 1">checked</if> />
                    </div>
                </td>
                <td>
                    <a href="{:U('edit')}?id={$vo.id}" class="btn btn-success" data-id="1">编辑</a>
                    <a class="btn btn-danger" data-id="1">删除</a>
                </td>
            </tr>
        </volist>

        </tbody>
    </table>

</div>
<div class=""></div>
<include file="footer"/>

