#toast-container > div {
  opacity: 1 !important;
}
.table.bd {
  border: 1px solid #ddd;
}
.modal-body {
  padding: 30px;
}
.wpBox .hd {
  padding-bottom: 20px;
}
.loginBox {
  position: absolute;
  top: 400px;
  left: 50%;
  width: 350px;
  padding: 30px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
}
.registerBox {
  width: 400px;
  background-color: #fff;
  margin: 200px auto 0;
}
.registerBox .hd {
  padding: 10px 40px 10px;
  border-bottom: 1px solid #f0f0f0;
}
.registerBox .hd h1 {
  margin: 0;
  font-size: 30px;
}
.registerBox form {
  padding: 40px;
}
.orderListHd {
  margin-bottom: 20px;
}
.orderDetail {
  padding: 20px;
}
.orderDetail .well {
  margin-bottom: 0;
  background-color: #fcf8e3;
}
.orderDetail table {
  background-color: transparent !important;
}
.orderDetail table th {
  border-bottom: 1px solid #000 !important;
}
.orderDetail table td {
  border-top: none !important;
}
