<div class="container">
    <div class="wpBox">
        <div class="bd">


            <form class="form-horizontal j-validator">
                <fieldset>

                    <!-- Form Name -->
                    <legend>添加菜品</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="">菜品名称</label>
                        <div class="col-md-4">
                            <input name="" type="text" placeholder="placeholder" class="form-control input-md" data-bv-notempty data-bv-notempty-message="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">所属菜单</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">原价</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">现价</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">所属菜单</label>
                        <div class="col-md-4">
                            <select id="selectbasic" name="selectbasic" class="form-control">
                                <option value="1">Option one</option>
                                <option value="2">Option two</option>
                            </select>
                        </div>
                    </div>

                    <!-- File Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filebutton">图片</label>
                        <div class="col-md-4">
                            <input id="filebutton" name="filebutton" class="input-file" type="file">
                            <span class="help-block">（建议图片尺寸：360*360px）</span>
                        </div>

                    </div>

                    <!-- Multiple Radios (inline) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="radios">上/下架</label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="radios-0">
                                <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                                1
                            </label>
                            <label class="radio-inline" for="radios-1">
                                <input type="radio" name="radios" id="radios-1" value="2">
                                2
                            </label>
                            <label class="radio-inline" for="radios-2">
                                <input type="radio" name="radios" id="radios-2" value="3">
                                3
                            </label>
                            <label class="radio-inline" for="radios-3">
                                <input type="radio" name="radios" id="radios-3" value="4">
                                4
                            </label>
                        </div>
                    </div>

                    <!-- Multiple Radios (inline) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="radios">状态</label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="radios-0">
                                <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                                1
                            </label>
                            <label class="radio-inline" for="radios-1">
                                <input type="radio" name="radios" id="radios-1" value="2">
                                2
                            </label>
                            <label class="radio-inline" for="radios-2">
                                <input type="radio" name="radios" id="radios-2" value="3">
                                3
                            </label>
                            <label class="radio-inline" for="radios-3">
                                <input type="radio" name="radios" id="radios-3" value="4">
                                4
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button class="btn btn-success " type="submit">提　交</button>
                        </div>
                    </div>

                </fieldset>
            </form>



        </div>
    </div>
</div>