<div class="container-fluid">
    <h2>桌号管理</h2>

    <div class="wpBox">
        <div class="hd">
            <div class="text-right"><a class="btn btn-primary" href="{:U('savePrint')}">添加打印机</a></div>
        </div>
        <div class="bd">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>默认打印机</th>
                        <th class="col-md-3">操作</th>
                    </tr>
                </thead>
                <tbody>
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>
                            <eq name="vo.default" value="1">历史打印机</eq>
                        </td>
                        <td>
                            <a class="btn btn-info" href="{:U('savePrint')}?id={$vo.id}">编辑</a>
                            <a class="btn btn-danger j-delTable" data-table="print" data-id="{$vo.id}" href="javascript:;">删除</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
</div>