<div class="container-fluid">
    <h2>桌号管理</h2>

    <div class="wpBox">
        <div class="hd">
            <div class="text-right"><button class="btn btn-primary">添加桌号</button></div>
        </div>
        <div class="bd">
            <table class="table table-hover bd">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>二维码</th>
                        <th class="col-md-3">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>A01</td>
                        <td><img src="" alt=""/></td>
                        <td>
                            <a class="btn btn-info" href="edit">编辑</a>
                            <a class="btn btn-danger j-delTable" data-id="1" href="javascript:;">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>A01</td>
                        <td><img src="" alt=""/></td>
                        <td>
                            <a class="btn btn-info" href="edit">编辑</a>
                            <a class="btn btn-danger j-delTable" data-id="1" href="javascript:;">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>A01</td>
                        <td><img src="" alt=""/></td>
                        <td>
                            <a class="btn btn-info" href="edit">编辑</a>
                            <a class="btn btn-danger j-delTable" data-id="1" href="javascript:;">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>A01</td>
                        <td><img src="" alt=""/></td>
                        <td>
                            <a class="btn btn-info" href="edit">编辑</a>
                            <a class="btn btn-danger j-delTable" data-id="1" href="javascript:;">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>A01</td>
                        <td><img src="" alt=""/></td>
                        <td>
                            <a class="btn btn-info" href="edit">编辑</a>
                            <a class="btn btn-danger j-delTable" data-id="1" href="javascript:;">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>A01</td>
                        <td><img src="" alt=""/></td>
                        <td>
                            <a class="btn btn-info" href="edit">编辑</a>
                            <a class="btn btn-danger j-delTable" data-id="1" href="javascript:;">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>