<div class="container">
    <div class="wpBox">
        <div class="bd">


            <form class="form-horizontal" action="{:U('cash/cash')}" method="post">
                <fieldset>
                    <input type="hidden" name="id" value="{$data['id']}">
                    <!-- Form Name -->
                    <legend>申请提现</legend>


                    <div class="form-group">
                        <label class="col-md-4 control-label" for="">可提现金额</label>
                        <div class="col-md-4">
                            <div class="center-block">{$sumMoney}</div>
                        </div>
                    </div>





                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <eq name="sumMoney" value="0">
                                <else/>
                                <button class="btn btn-success " type="submit">申请提现</button>
                            </eq>

                        </div>
                    </div>

                </fieldset>
            </form>

        </div>

        <div class="hd">
            <div class="text-right">
                <div class="page-header">
                    <h1><small></small></h1>
                </div>
                <div class="page-header">
                    <h1><small>销售明细</small></h1>
                </div>
            </div>
        </div>
        <div class="bd">
            <table class="table table-hover table-bordered j-dataTables">
                <thead>
                <tr>
                    <th>id</th>
                    <th>时间</th>
                    <th>金额</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>

                <assign name="sumMoney" value="0" />
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.create_date}</td>
                        <td>
                           {$vo.cash_money}
                        </td>
                        <td>
                            <eq name="vo.status" value="0">
                                未提现
                                <else/>
                                已提现
                            </eq>
                        </td>
                        <?php $sumMoney+=$vo['cash_money'] ?>
                    </tr>
                </volist>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">总计:{$sumMoney}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>