<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>页面发生错误!~</title>
    <link rel="stylesheet" href="/Public/asset/site/css/main.css"/>
</head>
<body zh-mask>
<!--<div class="scroll-content">-->
    <!--<div class="message">-->
        <!--<div class="pic"><img src="" alt=""/></div>-->
        <!--<if condition="$status eq 2 ">-->
            <!--<h2 class="text-success">支付成功!</h2>-->
            <!--<p class="text-muted">请耐心等待，我们正在努力制作中~</p>-->
            <!--<else />-->
            <!--<h2 class="text-success">{$message}</h2>-->
        <!--</if>-->
        <!--<a class="button button-danger" href="javascript:;" onclick="location.href='/site/order/order_view?id={$order_id}'">查看订单详情</a>-->
    <!--</div>-->
<!--</div>-->
<style>
    /* 提示页 */
    .message {
        padding: 10px;
        text-align: center;
    }
    .message .pic {
        margin-bottom: 20px;
    }
    .message h2 {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .message p {
        margin-bottom: 20px;
    }

</style>

<div class="scroll-content" style="display: block">

    <!--&lt;!&ndash; 支付成功 &ndash;&gt;-->
    <!--<div class="message" style="display: -none">-->
        <!--<div class="pic"><img src="img/msg-success.png" alt=""/></div>-->
        <!--<h2 class="text-success">支付成功!</h2>-->
        <!--<p class="text-muted">请耐心等待，我们正在努力制作中~</p>-->
        <!--<a class="button button-danger" href="javascript:;">查看订单详情</a>-->
    <!--</div>-->

    <!--&lt;!&ndash; 支付失败 &ndash;&gt;-->
    <!--<div class="message" style="display: -none">-->
        <!--<div class="pic"><img src="img/msg-error2.png" alt=""/></div>-->
        <!--<h2 class="text-danger">支付失败!</h2>-->
        <!--<p class="text-muted">请耐心等待，我们正在努力制作中~</p>-->
        <!--<a class="button button-danger" href="javascript:;">查看订单详情</a>-->
    <!--</div>-->

    <!-- 错误页面 -->
    <div class="message" style="display: -none">
        <div class="pic"><img src="/Public/asset/site/img/msg-error.png" alt=""/></div>
        <!--<h2 class="text-danger">出错啦!</h2>-->
        <a class="button button-danger" href="{:U('goods/index','',false)}">返回首页</a>
    </div>

    <!--&lt;!&ndash; 还未点餐 &ndash;&gt;-->
    <!--<div class="message" style="display: -none">-->
        <!--<div class="pic"><img width="96" src="img/msg-empty.png" alt=""/></div>-->
        <!--<p class="text-muted">你还没有点餐，扫描桌号二维码点餐！</p>-->
    <!--</div>-->

    <!--&lt;!&ndash; 购物车空 &ndash;&gt;-->
    <!--<div class="message" style="display: none">-->
        <!--<div class="pic"><img width="120" src="img/msg-cart.png" alt=""/></div>-->
        <!--<p class="text-muted">购物车空空如也，赶紧点餐吧!</p>-->
        <!--<a class="button button-danger" href="#goods">马上点餐</a>-->
    <!--</div>-->

</div>
</body>