<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>{$shop_name}</title>
    <link rel="stylesheet" href="/Public/asset/site/css/main.css"/>
</head>
<body zh-mask>
<js href="/Public/libs/jquery/jquery.1.11.3.min.js" />
<js href="/Public/verdor/angular-1.4.6/angular.min.js" />
<js href="/Public/verdor/require/require-lite.js" />
<script type="text/javascript">
    App = window.App || {};
    App.config = {
        urlArgs: '2015100901',
        baseUrl: '{:asset_path("Public/asset/site/")}'
    };
    require.config.debug = false;
    require.config.nocache = false;
    require.config.baseUrl = App.config.baseUrl;
    require.config.urlArgs = App.config.urlArgs;
    require.config.paths = {
        text: '{:asset_path("Public/verdor/require/text")}',
        angular: '{:asset_path("Public/verdor/angular-1.4.6/angular")}',
        ngAnimate: '{:asset_path("Public/verdor/angular-1.4.6/angular-animate.min")}',
        ngCookie: '{:asset_path("Public/verdor/angular-1.4.6/angular-cookie")}',
        ngLoader: '{:asset_path("Public/verdor/angular-1.4.6/angular-loader")}',
        ngResource: '{:asset_path("Public/verdor/angular-1.4.6/angular-resource")}',
        ngRoute: '{:asset_path("Public/verdor/angular-1.4.6/angular-route")}',
        ngTouch: '{:asset_path("Public/verdor/angular-1.4.6/angular-touch")}',
        "ui.router": '{:asset_path("Public/verdor/angular-ui/angular-ui-router")}',
        jquery : '{:asset_path("Public/libs/jquery/jquery.1.11.3.min")}'
    };
    require.config.shim = {
        angular: {
            exports: 'angular',
            state:2
        },
        jquery: {
            exports: 'jQuery',
            state:2
        },
        ngAnimate: ['angular'],
        ngCookie: ['angular'],
        ngLoader: ['angular'],
        ngResource: ['angular'],
        ngRoute: ['angular'],
        ngTouch: ['angular'],
        "ui.router": ['angular']
    };
</script>