<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h2>popover</h2>
            <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">可消失的弹出框</a>
        </div>
        <div class="col-md-3">
            <h2>modal</h2>
            <a class="btn btn-primary j-confirm1" href="javascript:;">confirm</a>
            <a class="btn btn-primary j-alert1" href="javascript:;">alert</a>
        </div>
        <div class="col-md-3">
            <h2>tooltips</h2>
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>

            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>

            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>

            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
        </div>
        <div class="col-md-3">
            <h2>alert</h2>
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>Collapse</h2>
            <div class="panel-group" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">
                                Collapsible list group
                            </a>
                        </h4>
                    </div>
                    <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="false" style="height: 0px;">
                        <ul class="list-group">
                            <li class="list-group-item">Bootply</li>
                            <li class="list-group-item">One itmus ac facilin</li>
                            <li class="list-group-item">Second eros</li>
                        </ul>
                        <div class="panel-footer">Footer</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <h2>toast</h2>
            <button id="toast1" class="btn btn-primary">toast</button>

        </div>

        <div class="col-md-3">

        </div>


        <div class="col-md-3">

        </div>
    </div>




    <div class="row">
        <div class="col-md-12">
            <h2>datatables</h2>
            <table class="table table-bordered j-datatables">
                <thead>
                <tr>
                    <th data-name="number">序号</th>
                    <th>微务宝ID</th>
                    <th class="col-lg-1" data-name="name">商家名称</th>
                    <th>LOGO</th>
                    <th data-name="type">所属业态</th>
                    <th data-name="level">软件版本</th>
                    <th>分店数量</th>
                    <th data-name="is_entrust">是否代运营</th>
                    <th class="col-lg-2">简介</th>
                    <th data-name="created_at">创建时间</th>
                    <th class="col-lg-2" data-name="plugin">已使用应用</th>
                    <th data-name="status">状态</th>
                    <th class="text-center col-lg-2">操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12">
            <h2>bootstrap-datetimepicker-master</h2>



            <div class="input-group date j-datetime col-md-4">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <br/>
            <div class="input-group date j-date col-md-4">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <br/>
            <div class="input-group date j-time col-md-4">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>



        </div>
    </div>
</div>
























