<!-----------------小票打印设置---------------->
<script language="javascript" src="/Public/Lodop6.198/LodopFuncs.js"></script>
<script language="javascript" src="/Public/js/print.js" ></script>
<!-- 调用LODOP控件代码-->
<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
    <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop.exe"></embed>
    <param name="CompanyName" value="重庆中恒科技有限公司">
</object>
<!-----------------小票打印设置---------------->


<div class="orderList">
    <div class="container-fluid">
        <div class="wpBox">
            <div class="hd">
                <div class="row">
                    <form class="form-inline" method="post">
                        <div class="form-group">
                            <label for="exampleInputName2">订单号：</label>
                            <input type="text" class="form-control" name="sn"  value="{$sn}" id="exampleInputName2" placeholder="输入订单号查询">
                        </div>
                        <div class="input-group date j-date col-md-1">
                            <input class="form-control" size="16" type="text" name="start" value="{$start}" readonly>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                        -
                        <div class="input-group date j-date col-md-1">
                            <input class="form-control" size="16" type="text" name="end" value="{$end}" readonly>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                        <button class="btn btn-primary" type="submit">查询</button>
                    </form>
                </div>

            </div>
            <div class="bd">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>单号</th>
                        <th>桌号</th>
                        <th>消费金额</th>
                        <th>下单时间</th>
                        <th class="col-md-3">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="data" id="list">
                        <tr>
                            <td>{$list.sn}</td>
                            <td>{$list.table_id}</td>
                            <td>{$list.price}</td>
                            <td>{$list.orderTime}</td>
                            <td>
                                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample{$list.id}" aria-expanded="false" aria-controls="collapseExample">
                                    详细 <span class="caret"></span>
                                </button>
                                <button class="btn btn-success print" data-id='{$list.id}' type="button" >
                                    打印
                                </button>
                            </td>
                        </tr>
                        <tr class="collapse" id="collapseExample{$list.id}" style="background-color: transparent">
                            <td colspan="5">
                                <div class="orderDetail">
                                    <div class="well">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <th>菜品</th>
                                                <th>单价</th>
                                                <th>数量</th>
                                                <th>小计</th>
                                                <th>备注</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <volist name="list.orderGoodsList" id="goods">
                                                <tr>
                                                    <td>{$goods.name}</td>
                                                    <td>{$goods.order_goods_price}</td>
                                                    <td>{$goods.number}</td>
                                                    <td>{$goods['order_goods_price']*$goods['number']}</td>
                                                    <td>{$goods.mark}</td>
                                                </tr>
                                            </volist>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script>
    window.onload = function() {
        $(function () {

            var shopNmae = '{$shopName}';

            $.ajax({
                "type": 'get',
                "url": "{:U('Settings/printList')}?ajax=1&default=1",
                "success": function (msg) {
                    console.log(msg);
                }
            })

            $(".print").click(function () {

                var oid = $(this).data("id");
                $.ajax({
                    "type": 'post',
                    "url": "{:U('Order/SureOrder','',false)}",
                    "data": {id: oid,'history':1},
                    "success": function (msg) {
                        var data = msg.data;
                        var json = {
                            "title": shopNmae,
                            "tableId": data.orderData.name,
                            "orderNo": data.orderData.sn, "orderTime": getLocalTime(data.orderData.created_at),
                            "goodsList": data.orderGoodsData
                        };

                        var printList = [1];
                        printOrder(json, printList);
                    }

                })


            })
        })
    }
</script>
