<div class="orderList">
    <div class="container-fluid">
        <div class="wpBox">
            <div class="hd">
                <div class="row">
                    <form class="form-inline" method="post">
                        <div class="form-group">
                            <label for="exampleInputName2">订单号：</label>
                            <input type="hidden" class="form-control" name="sn"  value="{$sn}" id="exampleInputName2" placeholder="输入订单号查询">
                        </div>
                        <div class="input-group date j-date col-md-1">
                            <input class="form-control" size="16" type="text" name="start" value="{$start}" readonly>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                        -
                        <div class="input-group date j-date col-md-1">
                            <input class="form-control" size="16" type="text" name="end" value="{$end}" readonly>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                        <button class="btn btn-primary" type="submit">查询</button>
                        <a href="javascript:void(0)" class="btn btn-primary to-excel print">toexcel</a>
                    </form>
                </div>

            </div>
            <div class="bd">
                <table class="table table-hover table-bordered" id="to-excel-table">
                    <thead>
                    <tr>
                        <th>单号</th>
                        <th>桌号</th>
                        <th>消费金额</th>
                        <th>下单时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="data" id="list">
                        <tr>
                            <td>{$list.sn}</td>
                            <td>{$list.table_id}</td>
                            <td>{$list.price}</td>
                            <td>{$list.orderTime}</td>

                        </tr>

                    </volist>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

