<div class="orderList">
<div class="container-fluid">
    <div class="orderListHd">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入订单号查询">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">查询</button>
                  </span>
                </div>
            </div>
        </div>
    </div>

<table class="table table-hover ">
<thead>
<tr>
    <th>单号</th>
    <th>桌号</th>
    <th>消费金额</th>
    <th>下单时间</th>
    <th>操作</th>
</tr>
</thead>
<tbody>
<tr>
    <td>001</td>
    <td>A01</td>
    <td>20.00</td>
    <td>1分钟前</td>
    <td>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample2"
                aria-expanded="false" aria-controls="collapseExample">
            详细 <span class="caret"></span></button>
    </td>
</tr>
<tr class="collapse" id="collapseExample2" style="background-color: transparent">
    <td colspan="5">
        <div class="orderDetail">
            <div class="well">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>菜品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>001</td>
    <td>A01</td>
    <td>20.00</td>
    <td>1分钟前</td>
    <td>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample3"
                aria-expanded="false" aria-controls="collapseExample">
            详细 <span class="caret"></span></button>

    </td>
</tr>
<tr class="collapse" id="collapseExample3" style="background-color: transparent">
    <td colspan="5">
        <div class="orderDetail">
            <div class="well">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>菜品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>001</td>
    <td>A01</td>
    <td>20.00</td>
    <td>1分钟前</td>
    <td>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample4"
                aria-expanded="false" aria-controls="collapseExample">
            详细 <span class="caret"></span></button>

    </td>
</tr>
<tr class="collapse" id="collapseExample4" style="background-color: transparent">
    <td colspan="5">
        <div class="orderDetail">
            <div class="well">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>菜品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>001</td>
    <td>A01</td>
    <td>20.00</td>
    <td>1分钟前</td>
    <td>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample5"
                aria-expanded="false" aria-controls="collapseExample">
            详细 <span class="caret"></span></button>

    </td>
</tr>
<tr class="collapse" id="collapseExample5" style="background-color: transparent">
    <td colspan="5">
        <div class="orderDetail">
            <div class="well">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>菜品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    <tr>
                        <td>双球冰激凌菜品名字最多显示14</td>
                        <td>32.00</td>
                        <td>x2</td>
                        <td>64.00</td>
                        <td>菜品备注信息最多只能显示20个字省略省略省</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </td>
</tr>

</tbody>
</table>

</div>
</div>