<div ng-controller="order.Controller">
    <!-- S 选中商品列表 -->
    <div autoscroll="true" ng-if="cart.length > 0 || !ui.cart_empty">
        <!--### 备注 ###-->
        <div class="scroll-content mod-bz page-remark" ng-if="ui.page.remark">
            <div class="hd">
                <a ng-click="showPage('list')" class="back" href="javascript:;"></a>添加备注
                <a ng-click="saveRemark()" class="btn" href="javascript:;">保存</a>
            </div>
            <div class="bd">
                <textarea class="iptText" placeholder="在这里填写特殊要求：加冰、少糖等" ng-model="ui.remark_value"></textarea>
            </div>
        </div>
        <!--#### 确认订单 ###-->
        <div class="scroll-content has-footer bg-2 page-list" ng-if="ui.page.list" style="padding-bottom: 50px; bottom: 0">
            <div class="mod-tipsBox">
                <div class="inner">
                    亲爱的 {$username} ，请核对您的菜品<br />
                    <span class="text-muted">（如有特殊需求，请注意填写备注哦！）</span>
                </div>
            </div>
            <div class="orderTables">
                <table>
                    <thead>
                        <tr>
                            <th>菜品</th>
                            <th class="c2">数量</th>
                            <th class="c3">小计</th>
                            <th class="c4">备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in cart">
                            <td class="cpName" ng-bind="c.goods.name"></td>
                            <td>
                                <div class="mod-goodsCount show">
                                    <span class="minus"><a href="javascript:;" ng-click="minus(c)">-</a></span>
                                    <span class="num" ng-bind="c.number"></span>
                                    <span class="plus"><a href="javascript:;" ng-click="plus(c)">+</a></span>
                                </div>
                            </td>
                            <td ng-bind="c.number * c.price | currency:'￥'"></td>
                            <td>
                                <a href="javascript:;" ng-click="writeRemark(c)" class="bz icon-bz" ng-class="{'active':c.remark}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mod-footer fixed">
                <div class="total">
                    <span class="badge" ng-bind="selectedNumber()"></span>
                    <span style="margin-left: 15px;"><i ng-bind="totalPrice() | currency:'￥'"></i></span>
                </div>
                <a class="btn-cart button button-1" ng-click="submitWxOrder()">提交订单</a>
            </div>
        </div>
    </div>

    <!-- S 购物车空 -->
    <div ng-if="cart.length == 0 && ui.cart_empty">
        <div class="message">
            <div class="pic"><img width="120" src="img/msg-cart.png" alt=""/></div>
            <p class="text-muted">购物车空空如也，赶紧点餐吧!</p>
            <a class="button button-danger" href="#goods">马上点餐</a>
        </div>
    </div>
    <!-- E 购物车空 -->
</div>
<script type="text/javascript">
    require([
        'angular',
        '{:asset_path("Public/asset/site/order/index.js!")}'
    ], function (angular) {
        angular.bootstrap(document, ['order'], { strictDi: true });
    });
</script>