<div class="scroll-content bg-2">

    <div class="orderDetailView">
        <div class="mod-tipsBox">
            <div class="inner">
                <ul class="list list1">
                    <li class="item">
                        <div class="hd">
                            <h2>{$data[0]['shop_name']}</h2>
                        </div>
                        <div class="bd">
                            <div class="row">
                                <div class="col">
                                    <p>点餐时间：{$data[0]['created_at']|date="Y-m-d H:i:s",###}</p>

                                    <p>支付方式：微信支付</p>

                                    <p>支付状态：
                                        <if condition="$data[0]['status'] eq 2">
                                            <span class="text-success">已支付</span>
                                        <elseif condition="$data[0]['status'] eq 3" />
                                            <span class="text-muted">已完成</span>
                                        <else />
                                            <span class="text-danger">未支付</span>
                                        </if>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="orderTables f-mb15">
            <table>
                <thead>
                <tr>
                    <th>菜品</th>
                    <th class="c2">数量</th>
                    <th class="c3">小计</th>
                </tr>
                </thead>
                <tbody>
                <php>
                    $total = 0;
                </php>
                    <volist name="data" id="list">
                        <tr>
                            <td class="cpName">
                                {$list.goods_name}
                                <if condition="$list.mark neq ''">
                                （{$list.mark}）
                                </if>
                            </td>
                            <td>
                                x{$list.number}
                            </td>
                            <td>￥{$list['order_goods_price']*$list['number']}</td>
                        </tr>
                        <php>
                            $total += $list['order_goods_price']*$list['number'];
                        </php>
                    </volist>
                </tbody>
                <tfoot>
                    <tr>
                        <td>合计：</td>
                        <td></td>
                        <td><span class="text-danger">￥{$total}</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="text-center">
            <!--<a class="button" href="javascript:;">取消订单</a>-->
            <if condition="$data[0]['status'] eq 1 ">
                <a class="button button-success" href="javascript:;" onclick="wxPay({$order_id})">微信支付</a>
            </if>
        </div>
    </div>

</div>
<script type="text/javascript">
    function wxPay(order_id) {
        location.href = 'http://www.qulianchn.com/site/order/pay?id='+order_id;
    }
</script>