<div class="scroll-content bg-2">

    <div class="orderDetailView">
        <div class="mod-tipsBox">
            <div class="inner">
                <ul class="list list1">
                    <li class="item">
                        <div class="hd">
                            <h2>星巴克（龙湖时代天街店）<a href="javascript:location.reload();">刷新</a></h2>
                        </div>
                        <div class="bd">
                            <div class="row">
                                <div class="col">
                                    <p>点餐时间：2015-9-11 14:48</p>

                                    <p>支付方式：微信支付</p>

                                    <p>支付状态：<span class="text-success">已支付</span><span class="text-danger">未支付</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="orderTables f-mb15">
            <table>
                <thead>
                <tr>
                    <th>菜品</th>
                    <th class="c2">数量</th>
                    <th class="c3">小计</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="cpName">双球冰淇淋（香草、抹茶、巧克力）</td>
                    <td>
                        x2
                    </td>
                    <td>￥3600</td>
                </tr>
                <tr>
                    <td class="cpName">双球冰淇淋（香草、抹茶、巧克力）</td>
                    <td>
                        x2
                    </td>
                    <td>￥3600</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td><span class="text-danger">￥188.00</span></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="text-center"><a class="button" href="javascript:;">取消订单</a> <a class="button button-success"
                                                                                   href="javascript:;">微信支付</a></div>
    </div>

</div>