<!--#### 支付 ####-->
<div class="scroll-content bg-2 page-payment">
    <div class="orderPay">
        <div class="mod-tipsBox">
            <div class="inner">
                <ul>
                    <li class="item">订单总价：<span class="text-danger">￥{$price}</span></li>
                    <li class="item">还需支付：<span class="text-danger">￥{$price}</span></li>
                </ul>
            </div>
        </div>
        <div class="f-p10">
            <a class="button button-success button-block f-mb15" href="javascript:;" onclick="callpay();">微信支付</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    //调用微信JS api 支付
    function jsApiCall() {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            {$jsApiParameters},
            function(res){
                if(res.err_msg && res.err_msg.indexOf('ok') >= 0) {
                    location.href = '/site/order/success?id={$order_id}';
                }
                //WeixinJSBridge.log(res.err_msg);
                //alert(res.err_code+res.err_desc+res.err_msg);
            }
        );
    }

    function callpay() {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ) {
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        } else {
            jsApiCall();
        }
    }
</script>

