<div class="scroll-content">
    <div class="message">
        <if condition="$status eq 2 ">
            <div class="pic"><img src="/Public/asset/site/img/msg-success.png" alt=""/></div>
            <h2 class="text-success">支付成功!</h2>
            <p class="text-muted">请耐心等待，我们正在努力制作中~</p>
        <elseif condition="$status eq 3" />
            <div class="pic"><img src="/Public/asset/site/img/msg-success.png" alt=""/></div>
            <h2 class="text-success">{$message}</h2>
        <else />
            <div class="pic"><img src="/Public/asset/site/img/msg-error2.png" alt=""/></div>
            <h2 class="text-danger">{$message}</h2>
        </if>
        <a class="button button-danger" href="javascript:;" onclick="location.href='/site/order/order_view?id={$order_id}'">查看订单详情</a>
    </div>
</div>
